<header id="main-header">
  <% if logged_in? %>
    <%= link_to "Log Out", logout_path %>
  <% else %>  
    <div id="sign-up"><%= link_to "Sign Up", signup_path %></div>
    <div id="login"><%= link_to "Login", login_path %></div>
  <% end %>

        <nav id="main-nav">
          <ul>
            <li><%= link_to "Home",     root_path %></li>
            <li><%= link_to "About",    about_path %></li>
            <li><%= link_to "Articles", articles_path %></li>
            <li><%= link_to "Contact",  contact_path %></li>
        </ul>
      </nav>
    </header>

    #need to push to git